div{
 


 

}
.naruto{
 


}
body{
    background-color: rgb(103, 47, 47);
    background-image: url(../imagens/cPdfp8pOlDsKHC_Ca6trNo6UjwU.jpg); 
    object-fit:cover;
    
    background-repeat: no-repeat;
    object-fit: ;
    background-size: cover;
    



    
}

