body{
    display: flex;
}


main{

    display: flex;
    flex-direction: column;
    background-color: aqua;
}
div{
    display: flex;
}
section{
    display: flex;
}
p{
    text-align: justify;
    text-align: center;

}